| Header | Value |
|---|---|
| selected_converted_concrete | 0.9773462783171522 |
| converted_concrete | 0.9773462783171522 |
| selected_feature_concrete | 0.9701986754966887 |
| normalised_concrete | 0.9701986754966887 |
| features_concrete | 0.9701986754966887 |